no service pad
service tcp-keepalives-in
service tcp-keepalives-out

no ip domain lookup
hostname {{ hostname }}

no ip source-route
no ip gratuitous-arps
no ip domain-lookup
no ip bootp server
{% block interfaces %} {% endblock %}
alias exec {{ model }}-BASE {{ vendor }}_{{ model }}_BASE_v1